@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    /* Color */

    --black: rgb(21, 21, 21);
    --darck-grey: rgb(36, 36, 36);
    --green: rgb(78, 225, 160);
    --grey: rgb(217, 217, 217);
    --white: rgb(255,255,255);

    /* Typography */
    --font: "Space Grotesk", sans-serif;
    --font-size-24: 1.5em;
    --font-size-40: 2.5em;

    --bold: 700;
    --medium: 500;

    --line-height-32: 2em;

    /* Transition configuration */

    --transition: all .5s ease-in-out;

    /* Padding */
    --padding-mobile: 0 10px;

    /* Margin */
    --margin-bottom: 70px;
}

/* General configuration */
a {
    text-decoration: none;
}

/* Typography */

.heading-Xl {
    font-family: var(--font);
    font-weight: var(--bold);
    font-size: 5.5em;
    line-height: 5.5em;
    letter-spacing: -2.5px;
}

.heading-l {
    font-family: var(--font);
    font-weight: var(--bold);
    font-size: 3em;
    line-height: 3.5em;
    letter-spacing: -1.5px;
}

.heading-m {
    font-family: var(--font);
    font-weight: var(--bold);
    font-size: 1.5em;
    line-height: 2em;
}

body {
    font-family: var(--font);
    font-weight: var(--medium);
    font-size: 1.125em;
    line-height: 1.75em;
    background-color: var(--black);
}

/* Button */

.btn {
    text-transform: uppercase;
    letter-spacing: 2.29px;
    line-height: 26px;
    font-size: 16px;
    font-weight: var(--bold);
    color: var(--white);
    border-bottom: 2px solid var(--green);
    transition: var(--transition);
    padding-bottom: 10px;
}

.btn:hover {
    color: var(--green);
}

/* ----------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

#header {
    text-align: center;
    color: var(--white);
    padding: var(--padding-mobile);
}

.header .header-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 570px;
    margin: auto;
}

.header .header-container .title-header {
    width: 100%;
    z-index: 2;
}

.header .header-container .title-header .social-media-header{
    width: 100%;
    background: linear-gradient(to top, rgba(36, 36, 36, 0.226), rgba(36, 36, 36, 0));
}

.header .header-container h3 {
    font-weight: var(--bold);
    font-size: var(--font-size-24);
    line-height: var(--line-height-32);
    letter-spacing: -0.33px;
}

.header .header-container .social-media-header a i {
    font-size: var(--font-size-24);
    color: var(--white);
    margin: 0 10px;
}

.header .header-container .social-media-header a i:hover {
    color: var(--green);
}

.header .header-container .img-main {
    background: url(assets/images/image-profile-mobile.webp) no-repeat bottom / cover;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    z-index: 1;
}

.header .header-container .pattern-cicle {
    background: url(assets/images/pattern-circle.svg) no-repeat center / cover;
    width: 130px;
    height: 130px;
    position: absolute;
    z-index: -1;
    right: -150px;
    bottom: 0;
}

.header .header-container .pattern-rings {
    background: url(assets/images/pattern-rings.svg) no-repeat center / cover;
    width: 530px;
    height: 130px;
    position: absolute;
    z-index: -1;
    right: 150px;
    top: 38%;
}

.header .header-main {
    width: 335px;
    margin: var(--margin-bottom) auto;
}

.header .header-main h1 {
    line-height: 1.3em;
}

.header .header-main .name {
    border-bottom: 3px solid var(--green);
}

.header .header-main p {
    font-size: 16px;
    line-height: 26px;
}

#main {
    padding: var(--padding-mobile);
}

.main .technologies {
    position: relative;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    text-align: center;
}

.main .technologies .technology {
    margin: 35px 0;
}

.main .technologies .technology h3{
    color: var(--white);
    font-size: var(--line-height-32);
    letter-spacing: -1px;
    margin: 0;
}

.main .technologies .technology p{
    font-size: 1em;
    margin: 0;
    color: var(--grey);
}

.main .technologies .pattern-rings {
    background: url(assets/images/pattern-rings.svg) no-repeat center / cover;
    width: 546px;
    height: 130px;
    position: absolute;
    z-index: -1;
    left: 200px;
    bottom: -70px;
}

.main .projects {
    margin: var(--margin-bottom) 0;
}

.main .projects .title-projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .projects .title-projects h2{
    font-size: var(--font-size-40);
    font-weight: var(--bold);
    color: var(--white);
    letter-spacing: -1.14px;
}

.main .projects .project {
    margin-bottom: var(--margin-bottom);
}

.main .projects .project .design-portfolio {
    background: url(assets/images/thumbnail-project-1-small.webp) no-repeat center / cover;
    width: 100%;
    height: 260px;    
}

.main .projects .project .e-learning-landing-page {
    background: url(assets/images/thumbnail-project-2-small.webp) no-repeat center / cover;
    width: 100%;
    height: 260px;
}

.main .projects .project .todo-web-app {
    background: url(assets/images/thumbnail-project-3-small.webp) no-repeat center / cover;
    width: 100%;
    height: 260px;
}

.main .projects .project .entertainment-web-app {
    background: url(assets/images/thumbnail-project-4-small.webp) no-repeat center / cover;
    width: 100%;
    height: 260px;
}

.main .projects .project .memory-game {
    background: url(assets/images/thumbnail-project-5-small.webp) no-repeat center / cover;
    width: 100%;
    height: 260px;
}

.main .projects .project .art-gallery-showcase {
    background: url(assets/images/thumbnail-project-6-small.webp) no-repeat center / cover;
    width: 100%;
    height: 260px;
}

.main .projects .project h3 {
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 0;
}

.main .projects .project .technology-project{
    display: flex;
    gap: 20px;
}
.main .projects .project .technology-project span{
    color: var(--grey);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.main .projects .project .links-project{
    display: flex;
    gap: 20px;
}
