:root {
    --dark: #151515;
    --dark-medium: #242424;
    --green: #4ee1a0;
    --gray: #d9d9d9;
    --white: #fff; 
    --red: #FF6F5B;

    --font-grotesk: "Space Grotesk", serif;

    --padding-mobile: 16px;
    --padding-tablet: 32px;
    --padding-desktop: 165px
}

/* General config */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: var(--font-grotesk);
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Typography */

/* 
    bold - 700
    medium - 500
*/

.text-present-1{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
}

.text-present-2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
}

.text-present-3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.text-present-4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (min-width: 768px) {
    .text-present-1 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
    }

    .text-present-2 {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -1.5px;
    }

    .text-present-4 {
        font-size: 18px;
        line-height: 28px;
    }
}

@media screen and (min-width: 1200px) {
    .text-present-1 {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
    }
}

/* Button */
.button {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.29px;
    color: var(--white);
    text-transform: uppercase;
    border-bottom: 1px solid var(--green);
    padding-bottom: 10px;
    transition: all .5s ease-in-out;
}

.button:hover {
    color: var(--green);
}

/* header */

/* nav */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999;
    padding: 0 var(--padding-mobile) 40px var(--padding-mobile);
    width: 100%;
}

#header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    background: linear-gradient(#242424, #24242400);
    width: 100%;
    max-width: 174px;
} 

#header nav .logo a, #footer .footer-social-media .logo-footer a{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.33px;
    color: var(--white);
}

#header .social-media .list, #footer .social-media-footer .list {
    display: flex;
    align-items: center;
    gap: 26px;
}

#header .social-media .list .list-item .link-item, #footer .social-media-footer .list .list-item .link-item {
    font-size: 20px;
    color: var(--white);
    transition: all .5s ease-in-out;
}

#header .social-media .list .list-item .link-item:hover, #footer .social-media-footer .list .list-item .link-item:hover {
    color: var(--green);
}

#header .social-media .list .list-item .link-item .frontend-mentor img, #footer .social-media-footer .list .list-item .frontend-mentor img {
    width: 20px;
    height: 20px;
    display: flex;
}

#header nav .img-profile {
    width: 174px;
    height: 242px;
    background: url(../images/image-profile-mobile.webp) no-repeat center / cover;
    position: relative;
    z-index: 999;
}

@media screen and (min-width: 768px) {

    /* header */
    #header {
        padding: 0 var(--padding-tablet);
        align-items: flex-start;
    }


    /* Nav */
    #header nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        background: transparent;
    }

    #header nav .img-profile {
        background: url(../images/image-profile-tablet.webp) no-repeat center / cover ;
        width: 322px;
        height: 600px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 1200px) {
    #header{
        max-width: 1200px;
    }

    /* Nav */
    #header nav .img-profile {
        background: url(../images/image-profile-desktop.webp) no-repeat center / cover;
        width: 445px;
        height: 720px;
    }
}

#header .bg-rings {
    width: 530px;
    height: 129px;
    background: url(../images/pattern-rings.svg) no-repeat center / cover;
    position: absolute;
    top: 170px;
    left: -275px;    
    z-index: 0;
}

#header .bg-circle {
    width: 64.5px;
    height: 129px;
    background: url(../images/pattern-circle.svg) no-repeat left / cover;
    position: absolute;
    top: 231px;
    right: 0;
}

@media screen and (min-width: 768px) {
    #header .bg-rings {
        top: 77px;
        left: -267px;
    }

    #header .bg-circle {
        top: 471px;
    }
}

@media screen and (min-width: 1200px) {
    #header .bg-rings{
        left: -30%;    
    }

    #header .bg-circle {
        width: 129px;
        right: 380px;
        top: 519px;
    }
}

/* Container */

#header .container .text-content {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0;
    gap: 24px;
}

#header .container .text-content h1 {
    color: var(--white);
}

#header .container .text-content h1 span {
    border-bottom: 4px solid var(--green);
}

#header .container .text-content p {
    color: var(--gray);
}

@media screen and (min-width: 768px) {
    #header .container .text-content{
        max-width: 445px;
        text-align: left;
        align-items: flex-start;
        margin: 90px 0;
        gap: 50px;
    }

    #header .container .text-content h1 span {
        border-bottom: 6px solid var(--green);
    }
}

@media screen and (min-width: 1200px) {
    #header .container .text-content{
        max-width: 706px;
        margin: 127px 0;
        gap: 43px;
    }

    #header .container .text-content p {
        max-width: 445px;
        margin-bottom: 66px;
    }
}

/* Main */

#main {
    width: 100%;
    max-width: 1200px;
    padding: 0 var(--padding-mobile);
}

/* Section - experience */
#main .experience {
    display: grid;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    width: 100%;
    padding: 40px 0;
    gap: 24px;
    position: relative;
}

#main .experience .experience-card {
    text-align: center;
}

#main .experience .experience-card h2 {
    color: var(--white);
}

#main .experience .experience-card span {
    color: var(--gray);
}

.bg-rings-bottom  {
    background: url(../images/pattern-rings.svg) no-repeat left / cover;
    width: 240px;
    height: 129px;
    position: absolute;
    bottom: -561px;
    right: 0;
}

@media screen and (min-width: 768px) {
    #main {
        padding: 0 var(--padding-tablet);
    }

    #main .experience {
        grid-template-columns: repeat(2, 1fr);
        gap: 52px;
        border-bottom: 0;
    }

    #main .experience .experience-card {
        text-align: left;
    }

    .bg-rings-bottom {
        width: 196px;
        bottom: -45px;
    }
}

@media screen and (min-width: 1200px) {
    #main .experience {
        grid-template-columns: repeat(3, 1fr);
        gap: 58px;
        border-bottom: 0;
    }

    .bg-rings-bottom {
        bottom: -125px;
    }
}

/* section - projects */
#main .project {
    width: 100%;
    margin: 80px 0;
}



#main .project .title-project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

#main .project .title-project h1 {
    color: var(--white);
}

#main .project .project-card {
    display: grid;
    justify-items: center;
    grid-template-columns: 1 1fr;
    gap: 40px;
}

#main .project .project-card .card {
    width: 100%;
    max-width: 451px;
}

#main .project .project-card .card .description-card h3 {
    color: var(--white);
    text-transform: uppercase;
    margin: 20px 0 7px 0;
}

#main .project .project-card .card .description-card .technology{
    color: var(--gray);
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    gap: 18px;
}

#main .project .project-card .card .description-card .buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media screen and (min-width: 768px) {
    #main .project .project-card {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }

    #main .project .project-card .card {
        max-width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    #main .project .project-card .card{
        position: relative;
    }

    #main .project .project-card .card .description-card .buttons {
        position: absolute;
        top: 0;
        background-color: #242424;
        width: 100%;
        height: 410px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    #main .project .project-card .card .description-card .buttons:hover {
        opacity: .9;
    }
}

#main .project .project-card .card .img-card {
    width: 100%;
    height: 253px;
}

#main .project .project-card .design-portfolio .img-card {
    background: url(../images/thumbnail-project-1-small.webp) no-repeat center / cover;
}

#main .project .project-card .e-learning .img-card {
    background: url(../images/thumbnail-project-2-small.webp) no-repeat center / cover;
}

#main .project .project-card .todo .img-card {
    background: url(../images/thumbnail-project-3-small.webp) no-repeat center / cover;
}

#main .project .project-card .entertainment .img-card {
    background: url(../images/thumbnail-project-4-small.webp) no-repeat center / cover;
}

#main .project .project-card .memory-game .img-card {
    background: url(../images/thumbnail-project-5-small.webp) no-repeat center / cover;
}

#main .project .project-card .art .img-card {
    background: url(../images/thumbnail-project-6-small.webp) no-repeat center / cover;
}


@media screen and (min-width: 768px) {

    #main .project .project-card .card .img-card {
        width: 100%;
        height: 313px;
    }

    #main .project .project-card .design-portfolio .img-card {
        background: url(../images/thumbnail-project-1-large.webp) no-repeat center / cover;
    }
    
    #main .project .project-card .e-learning .img-card {
        background: url(../images/thumbnail-project-2-large.webp) no-repeat center / cover;
    }
    
    #main .project .project-card .todo .img-card {
        background: url(../images/thumbnail-project-3-large.webp) no-repeat center / cover;
    }
    
    #main .project .project-card .entertainment .img-card {
        background: url(../images/thumbnail-project-4-large.webp) no-repeat center / cover;
    }
    
    #main .project .project-card .memory-game .img-card {
        background: url(../images/thumbnail-project-5-large.webp) no-repeat center / cover;
    }
    
    #main .project .project-card .art .img-card {
        background: url(../images/thumbnail-project-6-large.webp) no-repeat center / cover;
    }
}

@media screen and (min-width: 1200px) {
    #main .project .project-card .card .img-card {
        width: 100%;
        height: 410px;
    }
}

/* Footer */

#footer {
    width: 100%;
    background-color: var(--dark-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#footer .footer-description {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px var(--padding-mobile) 40px var(--padding-mobile);
}

#footer .footer-description .text-description {
    text-align: center;
}

#footer .footer-description .text-description h1 {
    color: var(--white);
    margin-bottom: 20px;
}

#footer .footer-description .text-description p {
    color: var(--gray);
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    #footer .footer-description, #footer .footer-description .text-description, #form {
        max-width: 445px;
    }
}

@media screen and (min-width: 1200px) {
    #footer .footer-description{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1110px;
    }
    
    #footer .footer-description .text-description {
        text-align: left;
    }
}


/* Form */
#form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 32px;
    position: relative;
    z-index: 9999;
}

#form .form-control {
    width: 100%;
    position: relative;
    text-align: right;
}

#form .form-control input[type='text'], textarea{
    width: 100%;
    padding: 0px 0px 16px 24px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    text-transform: uppercase;
}

#form .invalid input[type='text'] {
    border-color: var(--red);
}

#form .success input[type='text'] {
    border-color: var(--green);
}

#form .form-control input[type=text]::placeholder, textarea::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.22px;
    color: #d9d9d954;
    text-transform: uppercase;
}

#form .form-control i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    color: var(--red);
    opacity: 0;
}

#form .form-control span {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.17px;
    color: var(--red);
    opacity: 0;
    margin-top: 5px;
}

#form .invalid i, #form .invalid span{
    opacity: 1;
}

#form #message {
    height: 107px;
}

#form button {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

#footer .footer-social-media {
    padding: 0 var(--padding-mobile) 40px var(--padding-mobile);
}

#footer .footer-social-media, #footer .footer-social-media nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#footer .footer-social-media .line {
    width: 100%;
    height: 1px;
    background-color: var(--white);
    margin-top: 70px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {

    #footer .footer-social-media {
        padding: 0 var(--padding-tablet) 40px var(--padding-tablet);
    }

    #footer .footer-social-media nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    #footer .footer-social-media{
        max-width: 1110px;
        margin-bottom: 65px;
    }
}

.bg-rings-footer {
    width: 265px;
    height: 129px;
    background: url(../images/pattern-rings.svg) no-repeat right / cover;
    position: absolute;
    left: 0;
    bottom: 33%;
    z-index: 0;
}

@media screen and (min-width: 768px) {
    .bg-rings-footer {
        bottom: 18%;
        width: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .bg-rings-footer {
        bottom: 36%;
        width: 362px;
    }
}